*{
    margin: 0;
    padding: 0;
    font-family: 'Pathway Gothic One', sans-serif;
}

body{
    background-color: black;
}

/* NAV */
header{
    background-color: black;
    width: 100%;
    z-index: 1;
}
.navbar-brand{
    color: #87f767;
    margin-left: 30px;
}
.navbar-brand:hover{
    color: #87f767;
}
.nav-item{
    margin-right: 30px;
}
.nav-link{
    color: white;
    font-size: 23px;
    margin-right: 10px;
}
.nav-link:hover{
    color: #87f767;
}

/* INDEX */
/* BANNER */
#hero{
    background-color: black;
    background-repeat: repeat-x;
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#hero h2{
    color: #87f767;
    font-size: 90px;
    text-align: center; 
}
#bannerTypography{
    animation: changeTypography 2s infinite;
}
.banner-index-btn{
    background-color: black;
    color: #87f767;
    text-decoration: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 18px;
}
.banner-index-btn:hover{
    color: white;
}

@keyframes changeTypography {
        0% {
          font-family: 'Pathway Gothic One', sans-serif;
        }
        100% {
          font-family: 'Raleway', sans-serif;
        }
}

/* FAVORITES */
#favorites{
    padding-bottom: 60px;
}
#favorites h2{
    color: #87f767;
    font-size: 40px;
    text-align: center;
    margin: 40px;
}
#favorites img{
    width: 300px;
    height: 400px;
    object-fit: cover;
}
#favorites h3{
    color: #87f767;
    font-size: 25px;
    text-align: start;
    padding-top: 15px;
}
#favorites h4{
    color: #87f767;
    font-size: 18px;
    text-align: start;
}
#favorites button{
    background-color: #87f767;
    border-radius: 5px;
    border-color: #87f767;
    padding: 5px 2px 5px 2px;
    display: flex;
    margin-top: 15px;
}
#favorites button a{
    text-decoration: none;
    color: black;
}

/* INSTAGRAM POSTS */
.instagram-container{
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
}
#instagram-posts h2{
    color: #87f767;
    font-size: 40px;
    text-align: center;
    margin: 40px;
}
#instagram-posts img{
    border-radius: 50%;
}
.split-image{
    clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%);
    width: 400px;
    height: 400px;
}
.four-img{
    width: 200px;
    height: 200px;
}
.complete-img{
    width: 400px;
    height: 400px;
}
.two-img{
    width: 200px;
    height: 200px;
}

/* US */
#us{
    background-color: #87f767;
    height: 80vh;
}
#us h2{
    color: black;
    font-size: 40px;
    text-align: center;
    padding: 60px;
}
#us img{
    width: 500px;
    height: 500px;
    object-fit: cover;
}

/* CATALOGUE */
/* BANNER */
.catalogue-banner{
    background-color: black;
    background-repeat: repeat;
    width: 100%;
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.catalogue-banner h2{
    color: #87f767;
    font-size: 90px;
    text-align: center;
}
.catalogue-btn{
    background-color: #87f767 ;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 18px;  
}
.catalogue-btn:hover{
    color: white;
}

/* PRODUCTS */
#catalogue{
    margin: 50px 50px;
}
#catalogue .row{
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-1{
    width: 80%;
    height: 100%;
    margin-bottom: 50px;
}
.img-2{
    width: 100%;
}
#catalogue h3{
    color: #87f767;
    text-align: start;
    margin-top: 5px;
}
#catalogue h4, h5{
    color: #87f767;
    text-align: start;
    font-family: 'Raleway';
    font-size: 15px;
    margin-bottom: 10px;
}
.buy-btn{
    background-color: #87f767;
    border-radius: 5px;
    border-color: #87f767;
    padding: 5px;
    display: flex;
}
.buy-btn a{
    text-decoration: none;
    color: black;
}
.buy-btn a:hover{
    color: white;
}




/* FOOTER */
.icon-container{
    display: flex;
    justify-content: center;
    margin: 5px;
}
.icon-circle{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #87f767;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
.icon-circle:hover{
    background-color: white;
}
.icon-circle i{
    font-size: 30px;
    color: black;
    
    justify-content: center;
    align-items: center;
}
