*{
    margin: 0;
    padding: 0;
    font-family: 'Pathway Gothic One', sans-serif;
}

body{
    background-color: black;
}
main{
    height: auto;
}

/* NAV */
header{
    background-color: black;
    width: 100%;
    z-index: 1;
}
.navbar-brand{
    color: #87f867;
    margin-left: 30px;
}
.navbar-brand:hover{
    color: #87f867;
}
.nav-item{
    margin-right: 30px;
}
.nav-link{
    color: white;
    font-size: 23px;
    margin-right: 10px;
}
.nav-link:hover{
    color: #87f867;
}

.navbar-toggler{
    color: #87f867;
    border-color: #87f867;
}
button.navbar-toggler.collapsed{
    background-color: #87f867;
}
button.navbar-toggler{
    background-color: #87f867;
}

/* INDEX */
/* BANNER */
#hero{
    background-color: black;
    background-repeat: repeat-x;
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#hero h2{
    color: #87f867;
    font-size: 90px;
    text-align: center; 
}
#bannerTypography{
    animation: changeTypography 2s infinite;
}
.banner-index-btn{
    background-color: black;
    color: #87f867;
    text-decoration: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 18px;
}
.banner-index-btn:hover{
    color: white;
}

@keyframes changeTypography {
        0% {
          font-family: 'Pathway Gothic One', sans-serif;
        }
        100% {
          font-family: 'Raleway', sans-serif;
        }
}

/* FAVORITES */
#favorites{
    padding-bottom: 60px;
}
#favorites h2{
    color: #87f867;
    font-size: 40px;
    text-align: center;
    margin: 40px;
}
#favorites img{
    width: 300px;
    height: 400px;
    object-fit: cover;
}
#favorites h3{
    color: #87f867;
    font-size: 25px;
    text-align: start;
    padding-top: 15px;
}
#favorites h4{
    color: #87f867;
    font-size: 18px;
    text-align: start;
}
#favorites button{
    background-color: #87f867;
    border-radius: 5px;
    border-color: #87f867;
    color: black;
    padding: 5px 2px 5px 2px;
    display: flex;
    margin-top: 15px;
}
#favorites a{
    text-decoration: none;
}
#favorites .row{
    margin: 0px;
}

/* INSTAGRAM POSTS */
.row{
    margin-right: 2px;
}
#splitImage{
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#fourImg{
    width: 20%;
}
#completeImg{
    width: 20%;
}
#twoImg{
    width: 10%;
}
.instagram-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
}
#instagram-posts h2{
    color: #87f867;
    font-size: 40px;
    text-align: center;
    margin: 40px;
}
#instagram-posts img{
    border-radius: 50%;
    object-fit: cover;
}
.split-image{
    clip-path: polygon(0 0, 50% 0, 50% 100%, 0 100%);
    width: 50%;
    transform: scale(3);
    margin: 0;
    padding: 0;
}
.four-img{
    width: 150px;
    height: 150px;
    margin: 0;
    padding: 0;
}
.complete-img{
    width: 300px;
    height: 300px;
    margin: 0;
    padding: 0;
}
.two-img{
    width: 150px;
    height: 150px;
    display: grid;
    margin: 0;
    padding: 0;
}

/* CATALOGUE */
/* CATEGORIES */
#categories .row{
    height: 70vh;
}
#categories .col{
    display: flex;
    align-items: center;
    justify-content: center;
}
.image-bg{
    position: relative;
    display: inline-block;
    transition: transform 0.3s ease-in-out;
}
.image-bg:hover{
    transform: scale(1.1);
}
.image-bg img{
    display: block;
    width: 100%;
    height: auto;
}
.image-bg a{
    text-decoration: none;
}
.image-bg h2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    width: 100%;
    margin: 0;
    padding: 10px;
    color: #87f867;
    text-align: center;
}
#categories .col{
    position: relative;
}
#categories .col-md-3{
    align-items: center;
    display: flex;

}

/* PRODUCTS */
#categories{
    height: 80vh;
}
.categories .row{
    display: flex;
    justify-content: center;
    align-items: center;
}
.categories img{
    width: 300px;
    height: 400px;
    object-fit: cover;
}
.categories h2{
    color: #87f867;
    font-size: 50px;
}
.categories h3{
    color: #87f867;
    text-align: start;
    margin-top: 5px;
}
.categories h4{
    color: #87f867;
    text-align: start;
    font-size: 18px;
    margin-bottom: 10px;
}
.categories .col{
    margin-bottom: 30px;
}
.categories a{
    text-decoration: none;
}
.buy-btn{
    background-color: #87f867;
    border-radius: 5px;
    border-color: #87f867;
    padding: 5px;
    display: flex;
}
.buy-btn a{
    text-decoration: none;
    color: black;
}
.buy-btn a:hover{
    color: white;
}

/* CONTACT */
.banner-contact{
    background-color: #87f867;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.banner-contact button{
    background-color: black;
    border: 0;
    padding: 20px;
}
.banner-contact button a{
    text-decoration: none;
}
.banner-contact button a h2{
    color: #87f867;
    font-size: 60px;
}
#contactInfo{
    margin-top: 30px;
}
#contactInfo h5{
    color: white;
    font-size: 18px;
}
#contactInfo i, #contactInfo h4{
    color: #87f867;
    font-size: 20px;
    padding-bottom: 20px;
}
#contactInfo i{
    font-size: 30px;
}
#contactInfo .col{
    border-right: 1px solid #87f867;
}
#contactInfo .last{
    border-right: 0;
}
#map iframe{
    margin-top: 50px;
    width: 100%;
}



/* FANNYPACK CATEGORIE */
#fannyPack .row{
    height: 70vh;
}

/* HANDBAG CATEGORIE */
#handbag .row{
    margin-top: 50px;
}

/* BAGS CATEGORIE */
#bags .row{
    height: 70vh;
}

/* WALLET CATEGORIE */
#wallet .row{
    margin: 50px 0px 50px 0px;
}

/* HOW TO BUY */
#howToBuy, #aboutUs{
    height: 80vh;
    background-color: #87f867;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#howToBuy p, #aboutUs p{
    color: black;
    font-size: 20px;
    text-align: justify;
    max-width: 700px;
    font-family: 'Raleway';
    font-weight: bold;
}
#howToBuy p h2, #aboutUs p h2{
    font-family: 'Pathway Gothic One';
    text-align: start;
}

/* ABOUT US */
#aboutUs h3, #howToBuy h3{
    font-size: 40px;
    margin: 20px;
}



/* FOOTER */
footer{
    background-color: black;
}
.icon-container{
    display: flex;
    justify-content: center;
    margin: 5px;
}
.icon-circle{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #87f867;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
.icon-circle:hover{
    background-color: white;
}
.icon-circle i{
    font-size: 30px;
    color: black;
    justify-content: center;
    align-items: center;
}

/* EACH PRODUCT */
.go-back-btn{
    text-decoration: none;
    color: #87f867;
    font-size: 18px;
    margin-left: 15px;
}
.go-back-btn:hover{
    color: #87f867;
}
.product{
    height: 75vh;
}
.product img{
    margin-top: 30px;
    object-fit: cover;
    width: 500px;
    height: 600px;
}
.product h2{
    color: #87f867;
    display: flex;
    justify-content: start;
    margin: 30px 0px 30px 0px;
    font-size: 38px;
}
.product h3{
    font-family: 'Raleway';
    font-weight: bold;
    color: white;
    display: flex;
    justify-content: start;
    font-size: 18px;
    margin-bottom: 20px;
}
.product h4{
    color: white;
    font-size: 16px;
    font-family: 'Raleway';
    font-weight: bold;
    text-align: justify;
    margin-bottom: 20px;
}
.product a{
    text-decoration: none;
}
.product a button{
    background-color: #87f867;
    border-color: #87f867;
    font-size: 18px;
    color: black;
    padding: 5px;
    border-radius: 3px;
    display: flex;
    margin: 20px 0px 0px 0px;
}

/* COLOR */
.picker-color{
    display: flex;
}
.black-color{
    background-color: black;
    border: white solid 2px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: start;
    align-items: start;
    margin-right: 10px;
}
.beige-color{
    background-color: #5e3d3d;
    border: #5e3d3d solid 2px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: start;
    align-items: start;
    margin-right: 10px;
}
.pink-color{
    background-color: #ee3fc8;
    border: #ee3fc8 solid 2px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: start;
    align-items: start;
    margin-right: 10px;
}
.white-color{
    background-color: white;
    border: white solid 2px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: start;
    align-items: start;
    margin-right: 10px;
}
.red-color{
    background-color: red;
    border: red solid 2px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: start;
    align-items: start;
    margin-right: 10px;
}
.orange-color{
    background-color: orangered;
    border: orangered solid 2px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: start;
    align-items: start;
    margin-right: 10px; 
}
.lime-color{
    background-color: #7ddb7d;
    border: #7ddb7d solid 2px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: start;
    align-items: start;
    margin-right: 10px; 
}
.violet-color{
    background-color: #9b389b;
    border: #9b389b solid 2px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: start;
    align-items: start;
    margin-right: 10px;    
}
.green-color{
    background-color: #075007;
    border: #075007 solid 2px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: start;
    align-items: start;
    margin-right: 10px; 
}
.nude-color{
    background-image: url('../images/bag-ginebra-snake.PNG');
    background-repeat: no-repeat;
    border: white solid 2px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: start;
    align-items: start;
    margin-right: 10px;  
}
.snake-color{
    background-image: url('../images/bag-ginebra-snake.PNG');
    background-repeat: no-repeat;
    border: white solid 2px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: start;
    align-items: start;
    margin-right: 10px;  
}



/* MEDIAQUERY MOBILE */
@media (max-width: 576px){
    h1{
        font-size: 30px;
    }
    .nav-item{
        font-size: 16px;
    }
    .nav-link{
        padding-left: 30px;
    }
    #hero h2{
        font-size: 50px;
    }
    #favorites h2{
        font-size: 30px;
    }
    #favorites h3, h4, button{
        margin-left: 20px;
    }
    #favorites img{
        margin-top: 20px;
    }
    .instagram-container .row{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #completeImg, #fourImg, #twoImg{
        width: 100%;
    }
    .four-img-container{
        flex-wrap: wrap;
    }
    #categories .container-fluid{
        height: 180vh;
    }
    .image-bg img{
        width: 300px;
        height: 300px;
    }
    .image-bg h2{
        font-size: 30px;
    }
    #categories .col-12{
        height: 300px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-right: 0;
        margin: 20px 0 20px 0;
    }
    #categories{
        height: 180vh;
    }
    #fannyPack{
        height: 280vh;
    }
    #bags{
        height: 270vh;
    }
    #fannyPack .col, #handbag .col, #bags .col, #wallet .col{
        padding-right: 0;
        margin: 20px 0 20px 0;
    }
    #fannyPack h3, #handbag h3, #bags h3, #wallet h3{
        padding-left: 25px;
    }
    #fannyPack h4, #handbag h4, #bags h4, #wallet h4{
        padding-left: 5px;
    }
    #fannyPack button, #handbag button, #bags button, #wallet button{
        margin-left: 25px;
    }
    #handbag .row{
        flex-direction: column;
        margin: 0;
    }
    #wallet .row{
        margin: 0;
    }
    #howToBuy, #aboutUs{
        height: 100vh;
    }
    #howToBuy p, #aboutUs p{
        font-size: 18px;
        max-width: 300px;
    }
    .banner-contact h2{
        font-size: 30px !important;
    }
    #contactInfo i, h4{
        font-size: 18px;
    }
    #contactInfo h4{
        margin-left: 0;
    }
    #contactInfo h5{
        font-size: 15px;
    }
    #contactInfo .col{
        width: 33,33%;
        text-align: center;
    }
    #map iframe{
        margin-bottom: 30px;
    }
    .product{
        height: 110vh;
    }
    .product .row{
        display: flex;
        flex-direction: column;
    }
    .product img{
        width: 400px;
        height: 400px;
    }
}
