main{
    /* FANNYPACK CATEGORIE */
    // #fannyPack .row{
    //     height: 70vh;
    // }
    /* HANDBAG CATEGORIE */
    #handbag .row{
        margin-top: 50px;
    }
    /* BAGS CATEGORIE */
    #bags .row{
        height: AUTO;
    }
    /* WALLET CATEGORIE */
    #wallet .row{
        margin: 50px 0px 50px 0px;
    }
    .categories{
        h2{
            color: $primary-color;
            font-size: 50px;
        }
        .row{
            display: flex;
            justify-content: center;
            align-items: center;
            .col{
                width: 100%;
                display: flex;
                justify-content: center;
                margin-bottom: 30px;
                a{
                    text-decoration: none;
                    color: white;
                    .img-container{
                        overflow: hidden;
                        position: relative;
                        width: 300px;
                        height: 400px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        align-items: stretch;
                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                        // .promo{
                        //     position: absolute;
                        //     top: 10px;
                        //     left: 3;
                        //     font-size: 20px;
                        //     background-color: $primary-color;
                        //     padding: 15px;
                        //     color: $secondary-color;
                        //     border-bottom-right-radius: 25px;
                        //     border-top-right-radius: 25px;
                        // }
                        .stock{
                            // position: relative;
                            // bottom: 0;
                            // left: 0;
                            font-size: 16px;
                            background-color: $primary-color;
                            color: $secondary-color;
                            padding: 8px;
                            // // width: 300px;
                            width: 100%;
                            // display: block;
                            box-sizing: border-box;
                            text-align: center;
                        }
                    }
                    // .out-of-stock .stock{
                    //     // height: 360px !important;
                    //     height: 40px;
                    // }
                    h3{
                        color: $primary-color;
                        text-align: center;
                        margin-top: 5px;
                    }
                    h4{
                        color: $primary-color;
                        text-align: center;
                        font-size: 18px;
                        margin-bottom: 10px;
                    }
                    .buy-btn{
                        background-color: $primary-color;
                        border-radius: 27px;
                        color: $secondary-color;
                        padding: 9px;
                        margin-top: 15px;
                        border: none;
                    }
                }
            }
        }
    }
}


